<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.heh.feraine_projetandroid">

    <application
        android:allowBackup="true"
        android:icon="@drawable/siemens_icon"
        android:label="HeH CaTech"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateUser"/>
        <activity android:name=".Menu"/>


        <!--
        <activity android:name=".Login"/>
        <activity android:name=".CreateUser">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Menu"/>
        -->

    </application>

</manifest>